.checkout-side-menu {
    overflow-y: scroll;
    width: 0;
    opacity: 0;
    height: calc(100vh - 68px);
    top: 68px;
    transform: translateX(360px);
    transition: all 200ms ease;
}

.checkout-side-menu--active {
    opacity: 1;
    transform: translateX(0);
    width: 360px;
}