.checkout-side-menu {
    width: 0;
    opacity: 0;
    height: calc(100vh - 68px);
    top: 68px;
    transform: translateX(360px);
    transition: all 200ms ease;
}

.checkout-side-menu--active {
    opacity: 1;
    transform: translateX(0);
}

#shoppingCart-products-container::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}


#shoppingCart-products-container::-webkit-scrollbar-track {
    /*background: orange; !* Color del área de seguimiento *!*/
}

#shoppingCart-products-container::-webkit-scrollbar-thumb {
    padding: 6px;
    background-color: black; /* Color del thumb (deslizador) */
    border-radius: 20px; /* Redondez del thumb */
    border: 3px solid var(--soft-white); /* Crea un borde alrededor del thumb */
}

@media screen and (width >= 768px) {
    .checkout-side-menu--active {
        width: 360px;
    }
}

@media screen and (width <= 425px) {
    .checkout-side-menu--active {
        width: 100%;
    }
}