.card__add-to-cart-button {
    z-index: 3;
    transition: all .3s ease;
}

.card--loading {
    background-color: gray;
    animation: loading-skeleton 1.5s infinite;
}

@keyframes loading-skeleton {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}