.product-details {
    overflow-y: scroll;
    width: 0;
    opacity: 0;
    height: calc(100vh - 68px);
    top: 68px;
    transform: translateX(360px);
    transition: all 200ms ease;
}

.product-details--active {
    opacity: 1;
    transform: translateX(0);

}

@media screen and (width >= 768px) {
    .product-details--active {
        width: 360px;
    }
}

@media screen and (width <= 425px) {
    .product-details--active {
        width: 100%;
    }
}